
.ipynb_checkpoints/

# Ignore virtual environment
venv/

# Ignore model files

models/cnn_model.h5
models/cnn_model.keras
models/label_encoders.pkl
models/scaler.pkl
models/tabular_lung_model.pkl

# Ignore system files
.DS_Store
Thumbs.db
